1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
   file named test.txt.

In [7]:
test1='This is a test of the emergency text system'
print(test1)
with open('test.text','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
   and test 2?

In [9]:
with open('test.text','r') as file:
    test2=file.read()
print(test2)
print(test1==test2)

This is a test of the emergency text system
True

3. Create a CSV file called books.csv by using these lines:
   
   title,author,year
   
   The Weirdstone of Brisingamen,Alan Garner,1960
   
   Perdido Street Station,China Miéville,2000
   
   Thud!,Terry Pratchett,2005
   
   The Spellman Files,Lisa Lutz,2007
   
   Small Gods,Terry Pratchett,1992

In [13]:
import csv

header=["title","author","year"]
data=[
["The Weirdstone of Brisingamen","Alan Garner",1960],
["Perdido Street Station,China","Miéville",2000],
["Thud!","Terry Pratchett",2005],
["The Spellman Files","Lisa Lutz",2007],
["Small Gods","Terry Pratchett",1992]
]
with open('book.csv','w',encoding='UTF8',newline='') as file:
    writer= csv.writer(file)
    writer.writerow(header)
    writer.writerows(data)

In [14]:
import csv
file1 = open('book.csv')
file1.read()

'title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\n"Perdido Street Station,China",MiÃ©ville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992\n'

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
   these fields: title (text), author (text), and year (integer).

In [15]:
import sqlite3
db=sqlite3.connect('books.db')
cur=db.cursor()
cur.execute("CREATE TABLE books(title text,author text,year integer)")
db.commit()
db.close() #excetuted once again thats why error

OperationalError: table books already exists

5. Read books.csv and insert its data into the book table.

In [16]:
f=open('book.csv')
f.read()

'title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\n"Perdido Street Station,China",MiÃ©ville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992\n'

In [17]:
import sqlite3
import csv
db=sqlite3.connect('books.db')
cur=db.cursor()
with open('book.csv','r') as file:
    books=csv.DictReader(file)
    for book in books:
        cur.execute('INSERT INTO books VALUES (?,?,?)',(book['title'],book['author'],book['year']))
db.commit()
db.close()

6. Select and print the title column from the book table in alphabetical order.

In [19]:
import sqlite3
db=sqlite3.connect('books.db')
cur=db.cursor()
output=cur.execute("SELECT title FROM books ORDER BY title ASC")
for i in output:
    print(i[0])
db.commit()
db.close()

Perdido Street Station,China
Perdido Street Station,China MiÃ©ville
Small Gods
Small Gods,Terry Pratchett
The Spellman Files
The Spellman Files,Lisa Lutz
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen,Alan Garner
Thud!
Thud!,Terry Pratchett

7. From the book table, select and print all columns in the order of publication.

In [20]:
import sqlite3
db=sqlite3.connect('books.db')
cur=db.cursor()
output=cur.execute("SELECT * FROM books ORDER BY year")
for i in output:
    print(i)
db.commit()
db.close()

('The Weirdstone of Brisingamen,Alan Garner', '1960', None)
('Perdido Street Station,China MiÃ©ville', '2000', None)
('Thud!,Terry Pratchett', '2005', None)
('The Spellman Files,Lisa Lutz', '2007', None)
('Small Gods,Terry Pratchett', '1992', None)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station,China', 'MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
   exercise 6.

In [23]:
import sqlalchemy
conn=sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
   Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
   test.

In [1]:
!pip install redis

Collecting redis
  Downloading redis-4.2.2-py3-none-any.whl (226 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\prani\anaconda3\lib\site-packages (from redis) (21.0)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\prani\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\prani\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.2.2

WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\prani\anaconda3\python.exe -m pip install --upgrade pip' command.

In [ ]:
import redis
conn=redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count',1)
conn.hget('test','count')